body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
}

main {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  color: #2c3e50;
}

h3, h4 {
  color: #34495e;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #2980b9;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.col-auto {
  flex: 0 0 auto;
}

#displayData {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#displayData h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#displayData ul {
  list-style: none;
  padding: 0;
}

#displayData li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

#displayData li:last-child {
  border-bottom: none;
}

canvas {
  max-width: 100%;
  margin: 0 auto;
}

/* -------------------------------Form CSS--------------------------------------------------------- */
#transaction-form {
  margin-top: 20px;
}

#transaction-form p {
  font-size: 20px;
  color: #333;
}

#transaction-form form {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

#transaction-form form > div {
  margin-right: 10px;
}

#transaction-form label {
  font-size: 14px;
  margin-right: 5px;
}

#transaction-type, #transaction-amount, #transaction-category {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ADD8E6;
}

#add-btn {
  padding: 5px 10px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #195f1c; 
}