<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Precious</title>
  <link rel="stylesheet" href="./css/jass.css">
  
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      My Precious
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    <nav>
      <a href="/">Home</a>
    {{#if logged_in}}
      <a class="btn" id="logout">Logout</a> 
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
    </nav>
    
  </header>
  <main>
    {{!-- Top section of the page --}}
    {{#if logged_in}}
    <div id="transaction-form">
      <p>Enter your transactions:</p>
      <form>
        <div>
          <label>Type:</label>
          <select id="transaction-type" required>
            <option value="" disabled selected>Type</option>
            <option value="income">Income</option>
            <option value="expense">Expenses</option>
          </select>
        </div>

        <div>
          <label>Amount:</label>
         <input type="number" id="transaction-amount" step="0.01" required>
        </div>

        <div>
          <label>Category:</label>
          <select id="transaction-category" required>
            <option value="" disabled selected>Category</option>
            <option value="groceries">Groceries</option>
            <option value="services">Services</option>
            <option value="medical">Medical</option>
            <option value="home">Home</option>
            <option value="car">Car</option>
            <option value="others">Others</option>
          </select>
        </div>

        <button type="submit" id="add-btn">Add</button>
      </form>
    {{else}}
    
    {{/if}}
    </div>
    {{{ body }}}

  </main>
  <footer>

  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
  <script src="./js/modal.js"></script>
</body>

</html>