
<h2>Transactions</h2>
<ul>
    {{#each transactions}}
        <li>{{this.date}} <br>
            Type:{{this.type}} <br>
            Amount ${{this.amount}} <br>
            Category:{{this.category}}<br><br>
    {{/each}}
</ul>